.form {
  position: relative;
  width: 300px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #4a350af5;
  font-size: 18px;
}
.btn {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 100%;
  border: 2px solid #fff;
  border-left: none;
  background: #F9F0DA;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}